header{
    background: var(--plain);
    text-align: center;
    overflow: hidden;
}

header h1{
    margin: 0;
    color: var(--dark-primary);
    padding: 10px 0 15px;
    letter-spacing: clamp(.1rem, .8vw, .6rem);
    font-size: clamp(1.3rem, 5vw, 2.1rem);
}

.content{

}

.container{
	
}

.board p{
	padding: 0;
	font-size: max(.8rem, 1.7vw);
	letter-spacing: .12rem;
	line-height: max(1.2rem, 2.8vw);
	text-align: center;
	margin: 10px 0 50px;
	color: var(--text);	
}

.house{
	width: clamp(300px, 70vw, 90vw);
	background-color: red;
	margin: 0 auto;
}