:root {
  --background: #D8EEFE;
  --plain: #FFFFFE;
  --text: #516C7B;
  --dark-primary: #094067;
  --bright: #EF4565;
  --light-primary: #00247d;
  --faded-primary: #3C3B6E;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  background: var(--background);
  overflow-x: hidden;
}


input, select, button{
  outline: none;
}

button{
  background-color: var(--dark-primary);
  color: var(--plain);
  padding: 10px 20px;
  cursor: pointer;
  letter-spacing: .2rem;
  font-size: 1rem;
  margin: 5px 0;
  border: 2px solid transparent;
}

button:hover{
  background-color: transparent;
  border: 2px solid var(--dark-primary);
  color: var(--dark-primary);
}

.inactive{
  background-color: transparent !important;
  color: var(--text) !important;
  cursor: not-allowed !important;
}

button.inactive{border: 2px solid var(--text) !important;}

a{text-decoration: none;}

/*all these would go into generic.css or so*/

.point{cursor: pointer;}

.centerer{text-align: center;}