:root {
  --plain: #fffffe;
  --headline-stroke: #272343; /*button text also*/
  --paragraph: #2d334a;
  --button-highlight: #ffd803;
  --btn-text: #ffd500;
  --secondary: #e3f6f5;
  --tertiary: #bae8e8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  background: var(--plain);
}


input, select, button{
  outline: none;
}