* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 1637px;
  background: rgba(216,238,254,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3 {
  width: 100%;
  height: 100px;
  background: rgba(255,255,254,1);
  padding: 21px 537px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_4 {
  width: 365px;
  color: rgba(9,64,103,1);
  position: absolute;
  top: 26px;
  left: 537px;
  font-family: Rubik;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v2_5 {
  width: 100%;
  color: rgba(81,108,123,1);
  position: absolute;
  top: 110px;
  left: 0px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v6_52 {
  width: 725px;
  height: 190px;
  background: rgba(9,64,103,1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 358px;
  overflow: hidden;
}
.v8_56 {
  width: 360px;
  height: 190px;
  background: rgba(216,238,254,1);
  padding: 20px 29px;
  margin: 3px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 359px;
  overflow: hidden;
}
.v7_53 {
  width: 275px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 43px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.v5_51 {
  width: 275px;
  height: 116px;
  background: url("../images/v5_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 43px;
  overflow: hidden;
}
.v4_44 {
  width: 136px;
  height: 116px;
  background: url("../images/v4_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 13px 18px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_29 {
  width: 100px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 118px;
  overflow: hidden;
}
.v3_30 {
  width: 100px;
  height: 59px;
  background: url("../images/v3_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
  overflow: hidden;
}
.v3_31 {
  width: 100px;
  height: 59px;
  background: url("../images/v3_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_32 {
  width: 100px;
  height: 59px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v3_33 {
  width: 100px;
  height: 59px;
  background: rgba(178,34,52,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v3_34 {
  width: 39px;
  height: 32px;
  background: rgba(60,59,110,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v3_35 {
  width: 36px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
}
.v3_37 {
  width: 100px;
  color: rgba(9,64,103,1);
  position: absolute;
  top: 73px;
  left: 18px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.v4_45 {
  width: 136px;
  height: 116px;
  background: rgba(9,64,103,1);
  padding: 8px 14px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 139px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v4_38 {
  width: 100px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 18px;
  overflow: hidden;
}
.v4_39 {
  width: 100px;
  height: 57px;
  background: rgba(0,36,125,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
}
.v4_40 {
  width: 99px;
  height: 57px;
  background: rgba(207,27,43,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 1px;
}
.v4_41 {
  width: 100px;
  height: 57px;
  background: rgba(238,238,238,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
}
.v4_42 {
  width: 100px;
  height: 57px;
  background: rgba(207,27,43,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
}
.v4_43 {
  width: 100px;
  color: rgba(255,255,254,1);
  position: absolute;
  top: 78px;
  left: 18px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.v8_55 {
  width: 360px;
  height: 190px;
  background: rgba(216,238,254,1);
  padding: 27px 37px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_54 {
  width: 231px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 27px;
  left: 64px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.v5_50 {
  width: 231px;
  height: 98px;
  background: url("../images/v5_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 26px 50px;
  margin: 34px;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 64px;
  overflow: hidden;
}
.v4_48 {
  width: 120px;
  height: 98px;
  background: url("../images/v4_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 7px 9px;
  margin: 5px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_12 {
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 30px;
  overflow: hidden;
}
.v3_13 {
  width: 35px;
  height: 48px;
  background: rgba(9,64,103,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 16px;
}
.v3_14 {
  width: 13px;
  height: 3px;
  background: rgba(9,64,103,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 31px;
}
.v3_15 {
  width: 15px;
  height: 3px;
  background: rgba(9,64,103,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 30px;
}
.v3_16 {
  width: 16px;
  height: 3px;
  background: rgba(9,64,103,1);
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 28px;
}
.v3_17 {
  width: 18px;
  height: 31px;
  background: rgba(9,64,103,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 7px;
}
.v4_46 {
  width: 102px;
  color: rgba(9,64,103,1);
  position: absolute;
  top: 72px;
  left: 9px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.v4_49 {
  width: 106px;
  height: 94px;
  background: rgba(9,64,103,1);
  padding: 5px 2px;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 125px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v3_9 {
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 23px;
  overflow: hidden;
}
.v3_10 {
  width: 36px;
  height: 48px;
  background: url("../images/v3_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 12px;
  overflow: hidden;
}
.v3_11 {
  width: 36px;
  height: 48px;
  background: rgba(255,255,254,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v4_47 {
  width: 102px;
  color: rgba(255,255,254,1);
  position: absolute;
  top: 70px;
  left: 2px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.v10_59 {
  width: 693px;
  height: 80px;
  background: url("../images/v10_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 485px;
  left: 210px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v10_58 {
  width: 444px;
  color: rgba(9,64,103,1);
  position: absolute;
  top: 0px;
  left: 25px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v10_62 {
  width: 100%;
  height: 670px;
  background: rgba(255,255,254,1);
  opacity: 1;
  position: absolute;
  top: 623px;
  left: 210px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v12_76 {
  width: 100%;
  color: rgba(9,64,103,1);
  position: absolute;
  top: 1491px;
  left: 204px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
   