{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv='content-language' content='en-gb'>
    <meta name="description" property="og:description" content="Online spellchecker for documents and webpages. It also rewrite documents with words correctly spelled." />
    <meta name="keywords" content="online spell checker, correct spelling in documents and webpages, document spell corrector, rewrite document with correct spellings" />
    <meta name="author" content="Ibrahim B. Oduola (github)" />
    <meta property="og:image" content="{% static 'img/spellchecker.png' %}" />
    <meta property="og:image:alt" content="SpellMaster: an online spell checker and file rewriter">
    <meta name="twitter:creator" content="@TheIbrahim_O" />
    <meta name="twitter:image" content="{% static 'img/spellchecker.png' %}" />
    <meta name="twitter:image:alt" content="SpellMaster: an online spell checker and file rewriter" />
    <meta name="twitter:card" value="app" />
    <meta name="twitter:description" content="SpellMaster: an online spell checker and file rewriter" />

    <link rel="icon" type="image/x-icon" href="{% static 'img/icon/spellcheck.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/root.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<title>The SpellMaster Project: A Work In progress</title>
</head>
<body>
	<header><h1>THE SPELLMASTER</h1></header>

	<section class="content">
		<div class="board"> <!--Not sure if I should use a div wrapper-->
			<p>
				The 'spellmaster' project is an open-source python project developed to read documents of various kinds (including webpages and pdfs) to check for and point out all mispelled words. It also will have the ability to rewrite the exact document (in a downloadable copy) but with the right spelling after reading it. NOTE: IT IS CURRENTLY UNDER DEVELOPMENT!
			</p>
		</div>


		<section class="main-body">
			
			<div class="flexible panel">
				<div class="key-aspect">
									
					<span class="label">Source</span>					
					
					<div class="span-choice doc-wrapper flexible">
						<div class="one-control active">
							<!--<img src="" alt="" />-->
							<span class="airpad active point">Document</span>
						</div>

						<div class="one-control">
							<!--<img src="" alt="" />-->
							<span class="airpad point inactive">Webpage</span>
						</div>

					</div>
					
				</div>

				<div class="key-aspect">
					<span class="label">LANGUAGE</span>					
					<div class="span-choice lang-wrapper flexible">
						<div class="one-control active">
							<!--<img src="" alt="" />-->
							<span class="airpad point inactive">American</span>
						</div>

						<div class="one-control active">
							<!--<img src="" alt="" />-->
							<span class="airpad active point inactive">British</span>
						</div>

					</div>
					
				</div>

			</div>

			<section class="window">
				<div class="inserter">
					<form enctype="multipart/form-data" method="post">
						{% csrf_token %}
						<input type="file" name="document-to-read" accept=".txt" class="custom-file-input" id="doc-input" />
						<button type="submit" class="inactive" disabled="true">PROCEED</button>
					</form>				
				</div>

				<div id="report-wrapper">
					<!--All text coming/reporting back from the server goes in here-->
					<span>...only reads .txt files for now. Project still under development...</span>
					{% if name %} <br/> <span>{{name}} is readable.<br />..scanning for spelling errors...please hold!</span> {% endif %}

					{% for r in reports %}
						<br /> <span class="error-message">{{r}}</span>
					{% endfor %}

				</div>

				<div class="centerer">
					<button class="inactive">Rewrite file with words correctly spelled and download</button>
				</div>

			</section>

			<footer>
				<p>If you find spellmaster helpful, do show us support by:</p>

				<div class="flexible">
					<a href="/">share with others</a>
					<a href="https://github.com/TheIbrahim7/spellmaster">contribute to source code</a>
					<!--<a href="">buy us a coffee</a> this would be allowed when necessary-->
				</div>

			</footer>



		</section>



	</section>

<script type="text/javascript" src="{% static 'js/event_managers.js' %}"></script>
</body>
</html>