{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/root.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/generic.css' %}">
	<title>SpellMaster</title>
</head>
<body>
	<header><h1>PROJECT SPELLMASTER</h1></header>

	<section>
		<div> <!--Not sure if I should use a div wrapper-->
			<p>
				The 'spellmaster' is an open-source python project developed to read documents of various kinds (including webpages) and and point out all mispelled words. It also has the ability to rewrite the exact document (in a downloadable copy) but with the right spelling after reading it.
			</p>
		</div>


		<section>
			<div class="panel-of-controls">
				<div>
					<h3>Source</h3>					
					<div class="pan-wrapper doc-wrapper">
						<div class="one-control active">
							<img src="" alt="" />
							<h4>Document</h4>
						</div>

						<div class="one-control">
							<img src="" alt="" />
							<h4>Webpage</h4>
						</div>

					</div>
					
				</div>

				<div>
					<h3>LANGUAGE</h3>					
					<div class="pan-wrapper lang-wrapper">
						<div class="one-control">
							<img src="" alt="" />
							<h4>American</h4>
						</div>

						<div class="one-control active">
							<img src="" alt="" />
							<h4>British</h4>
						</div>

					</div>
					
				</div>

			</div>

			<section>
				<div class="inserter">
					<form>
						<input type="text" name="filesrc" />
						<button type="submit">Browse</button>
					</form>				
				</div>

				<div class="report-wrapper">
					<!--All text coming/reporting back from the server goes in here-->

				</div>

				<div class="finale-action">
					<button>Correct Spelling, Rewrite File and Download</button>
				</div>

			</section>

			<footer>
				<p>If you find spellmaster helpful, feel free to support us by:</p>

				<div>
					<a href="">sharing with others</a>
					<a href="">contribute to source code</a>
					<a href="">buy us a coffee</a>
				</div>

			</footer>



		</section>



	</section>


</body>
</html>