{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv='content-language' content='en-gb'>
    <meta name="description" content="Online spellchecker for documents and webpages, can also rewrite documents with the right spelling" />
    <meta name="keywords" content="online spell checker, correct spelling in documents and webpages, document spell corrector, rewrite document with correct spellings" />
    <meta name="author" content="Ibrahim B. Oduola (github)" />

	<link rel="stylesheet" type="text/css" href="{% static 'css/root.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<title>The SpellMaster Project</title>
</head>
<body>
	<header><h1>THE SPELLMASTER</h1></header>

	<section class="content">
		<div class="board"> <!--Not sure if I should use a div wrapper-->
			<p>
				The 'spellmaster' project is an open-source python project developed to read documents of various kinds (including webpages and pdfs) to check for and point out all mispelled words. It also will have the ability to rewrite the exact document (in a downloadable copy) but with the right spelling after reading it.
			</p>
		</div>


		<section class="main-body">
			
			<div class="flexible panel">
				<div class="key-aspect airpad">
					<span class="label">Source</span>					
					<div class="span-choice doc-wrapper flexible">
						<div class="one-control active">
							<img src="" alt="" />
							<span class="airpad active point">Document</span>
						</div>

						<div class="one-control">
							<img src="" alt="" />
							<span class="airpad point">Webpage</span>
						</div>

					</div>
					
				</div>

				<div class="key-aspect airpad">
					<span class="label">LANGUAGE</span>					
					<div class="span-choice lang-wrapper flexible">
						<div class="one-control">
							<img src="" alt="" />
							<span class="airpad point">American</span>
						</div>

						<div class="one-control active">
							<img src="" alt="" />
							<span class="airpad active point">British</span>
						</div>

					</div>
					
				</div>

			</div>

			<section>
				<div class="inserter">
					<form>
						<input type="text" name="filesrc" />
						<button type="submit">Browse</button>
					</form>				
				</div>

				<div class="report-wrapper">
					<!--All text coming/reporting back from the server goes in here-->

				</div>

				<div class="finale-action">
					<button>Correct Spelling, Rewrite File and Download</button>
				</div>

			</section>

			<footer>
				<p>If you find spellmaster helpful, feel free to support us by:</p>

				<div>
					<a href="">sharing with others</a>
					<a href="">contribute to source code</a>
					<a href="">buy us a coffee</a>
				</div>

			</footer>



		</section>



	</section>


</body>
</html>