header{
    text-align: center;
}

header h1{
    margin: 5px auto 100px;
    letter-spacing: 3px;
    color: var(--headline-stroke);
}

section{
    background-color: var(--tertiary);
    width: 400px;
    padding: 5px 10px;
    text-align: center;
    margin: 20px auto -20px;
    border-radius: 20px
}

p{
    font-size: 21px;
    letter-spacing: 1.2px;
    font-style: oblique;
    line-height: 30px;
}

section p{
    text-transform: uppercase;
}

div{
    background-color: var(--tertiary);
    margin: -25px auto 40px;
    padding: 10px 20px 30px;
    text-align: center;
}

div p{
    line-height: 40px;
}

a{
  font-size: 20px;
  letter-spacing: 2px;
  font-style: oblique;
  text-decoration: none;
  color: var(--btn-text);
}

a:hover{
    color: var(--paragraph);
}